  * {
  font-family: roboto;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
}
/* CSS Header */

.header {
  background-image: url("../images/banner.png");
  height: 660px;
  background-size: cover;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  justify-content: flex-end;
  padding: 2.5em 13em;
}

.header-content-about-us {
  padding-right: 55px;
}

.header-content-about-us a {
  color: rgb(40, 50, 56) !important;
}

.header-content a {
  font-size: 12px;
  color: rgb(139, 195, 74);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-content-sign-in a {
  border: 2px solid #8bc34a;
  border-radius: 100px;
  padding: 8px 20px;
}

.logo {
  justify-content: center;
  padding: 30px 0;
  margin-top: 50px;
}

.header-main {
  display: flex;
  flex-direction: column;
}

.one-icon-header {
  width: 15%;
  text-align: center;
  color: #283238;
  font-size: 36px;
  letter-spacing: -0.07px;
}

.three-icon-header {
  margin-top: 30px;
}

.icon-top {
  font-size: 48px;
}

.text-header {
  padding: 2em 0;
  font-style: italic;
  font-size: 18px;
  letter-spacing: -0.03px;
}

.start-now a {
  text-decoration: none;
  background-image: linear-gradient(to right, #429321, #b4ec51);
  border-radius: 100px;
  color: #ffffff;
  padding: 8px 30px;
  box-shadow: 1px 1px 2px #888888;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.33px;
}
/* END header */
/* CSS Content */

.content-today-ilearnt {
  height: 570px;
  box-shadow: 0 5px 5px #999999;
}

.image-content {
  width: 40%;
  margin-right: 2em;
}

.detail-content {
  width: 40%;
  margin-right: 2em;
}

.detail-today-ilearnt {
  margin-bottom: 3em;
}

.title-detail {
  display: flex;
  align-items: center;
}

h3 {
  font-size: 48px;
  letter-spacing: -0.09px;
  color: #444444;
}

.size-icon-title {
  font-size: 36px;
  color: #444444;
  margin-right: 19px;
  align-items: center;
}

.short-description {
  font-size: 14px;
  letter-spacing: -0.03px;
}

.para-detail {
  font-size: 13px;
  text-align: justify;
  line-height: 24px;
  color: #283238;
  width: 100%;
}

.content .start-now {
  padding-top: 2em;
}

.content-daily-report {
  height: 35.6em;
}

.lists-content {
  height: 20em;
  background-image: linear-gradient(to right, #429321, #b4ec51);
}

.one-content {
  align-items: center;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}

.big-circle {
  text-align: center;
  width: 6.5em;
  height: 6.5em;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-circle {
  text-align: center;
  width: 2.7em;
  height: 2.7em;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #7cb342;
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-content p {
  font-size: 16px;
  letter-spacing: 1.33px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.7em;
}

.size-icon-list {
  font-size: 2.2em;
}

.small-circle span {
  font-size: 24px;
}

.content-members {
  height: 35.6em;
  box-shadow: 0px 5px 5px #999999;
}

.list-one-member {
  display: flex;
  align-items: center;
}

.check-box-gr {
  font-size: 18px;
  color: #7cb342;
  margin-right: 18px;
}

.para-members {
  text-align: justify;
  height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  color: #282828;
  margin-top: 1.5em;
  align-items: center;
}

.content-customers {
  height: 35.6em;
}

.detail-customers {
  width: 40%;
  margin: 0 0 2em 1.5em;
}

.content-our-customer {
  background-image: url("../images/rectangle3.png");
  background-size: cover;
  height: 29em;
}

.one-customer {
  width: 10%;
}

.one-customer {
  color: #ffffff;
  font-size: 10px;
}

.list-our-customer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.title-our-customer {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.title-our-customer>h3 {
  color: #ffffff;
}

.detail-our-customer {
  display: flex;
  justify-content: center;
  width: 55em;
  margin-left: 20%;
}

.detail-our-customer p {
  font-size: 18px;
  text-align: justify;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: -0.03px;
}

.icon-our {
  font-size: 72px;
  color: #ffffff;
  opacity: 40%;
}

.icon-right-ourcustomer {
  padding-top: 8em;
}
/* END CSS Content */

/* CSS Footer */
.footer {
  height: 11em;
  background-color: #39474e;
  flex-direction: row;
}

.one-navbar img {
  width: 96px;
  height: 29px;
}

.one-navbar {
  padding: 0 2em;
}

.one-navbar p {
  color: #8bc34a;
  text-transform: uppercase;
  font-size: 13px;

}

.one-navbar a {
  text-decoration: none;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: -0.02px;
  color: #d0d8dc;
}

.brand-icons {
  margin-top: 3em;
}

.size-brand-icon {
  font-size: 13px;
  color: #b4ec51;
  width: 5%;
  padding: 1.5em;
}

.link-navbar {
  margin-top: 14px;
}
